SCSS SYNTAX
// _reset.scss
html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}
// .NabBar{
//   background-color: grey
// }
// body{
//   background-color: black
// }
.NavBar{
  display: flex;
  justify-content: space-between;
  // flex: space-between;
  background-color: #50507c;
  height: 2em;
  color:whitesmoke;
  font-size: 20px;
  // position: fixed;
}

.Nav-Links{
  display: flex;
  width: 40%;
  color:whitesmoke;
  justify-content: space-between;
  font-size: 20px;
}

.Login{
  display: flex;
  // flex-direction: column;

  justify-content: center;
  // align-content: center;
  // background-image: url('./board-pic-for-app.jpg');
  // height: 80vh;
  background-color: white;
}

.Forums{
  background-color: white;
  // display: flex;
  // justify-content: center;
  align-content: center;
}

.hamburgermenu, .dropdown {
  display: none;
}

.hamburgermenu img {
  height: 7vh;
}



@media (max-width: 990px){
  .Nav-Links{
      display: none;
  }

  .hamburgermenu {
      width: 90px;
      height: 40px;
      display: flex;
      justify-content: center;
      padding-right: 1vw;
      align-items: center;
      background: darkgrey;
      border-radius: 5px;
      margin-right: 1vw;
      
  }

  .menutext {
      font-family: 'Open Sans', sans-serif;
      margin-right: 1vw;
      margin-left:  1vw;
  }

  .hamburgermenu img {
      height: 7vh;
  }


}


// @media (max-width: 770px){
//   .hero {
//       height: 50vh;
//       background-size: cover;
//   }

//   .greeting1 {
//       font-size: 1.6em;
//   }

//   .greeting2 {
//       font-size: 3.5em;
//   }



// body{
//   background-color: lightgray;
// }